<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/todos">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="nav-link" aria-current="page" href="/todos/new">
                    <button>Add New Item</button></a>
                <a class="nav-link ms-auto" aria-current="page" href="/log-out">
                    <button>Logout</button></a>
            </div>
        </div>
    </nav>
    {% block div %}
    <div class="mainPage">
        <h3>Hello, {{user}}!</h3>
        <br />
        <div>
            <a href="todos/new"><button class="btn btn-primary">Add New Item</button></a>
        </div>
        <br />
    {% if items %}
        <h1>To do List Items:</h1>
    {% endif %}
    <ul>
        {% for i in items %}
            <a href="/todos/{{i.id}}"><li><h4>{{i.name}}</h4></li></a>
        {% endfor %}
    </ul>
    </div>
    {% endblock %}
    <footer class="fixed-bottom">
        <strong >&copy 2022 Rexford Wiafe</strong>
    </footer>
</body>
</html>