{% extends 'to_do_app/index.html' %}
{% block title %}Log In{% endblock %}
{% block div %}
<form method="POST" class="myForm">
    {% csrf_token %}
    <h3 style="text-align: center">Log In</h3>
    <label for="userName">User Name</label>
    <input type="text" name="userName" placeholder="Username" class="form-control" required/>
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control" required/>
    <br />
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}
    <button type="submit" class="btn btn-primary">Log In</button>
    <br />
    <div>
        <p>Don't have an account yet? <br>
            <a href="sign-up">Create An Account</a>
        </p>
    </div>
</form>
{% endblock %}